* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akaya Kanadaka', cursive;
}
 

body {
    height: 100vh;
    background-image: url(./img/railway-g1ea357968_640.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.section {
    color: white;
    padding: 2em 2em;
    margin-top: 2em;
    max-width: 300px;
    width: 60%;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.title {
    font-size: 1rem;
    text-transform: uppercase;
}
.count-el {
    font-size: 5rem;
}

.btns-top {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 90%;
}

.round-btn {
    font-size: 1.5rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    color: white;
    border: 3px solid white;
}

.round-btn:hover{
    scale: .95;
}

.increment-btn {
    background-color: rgb(33, 155, 33);
}

.decrement-btn {
    background-color: rgb(235, 50, 50);
}

.btns-bottom {
    display: block;
    margin: 1em 1em;
    width: 100%;
    text-align: center;
}


.rect-btn {
    font-size: 1rem;
    padding: .5em 1em;
    margin: .3em;
    border: 3px solid white;
    border-radius: 5px;
    text-transform: uppercase;
}


.preEnt-el {
    padding: .3em .6em;
    border: 3px solid white;
    border-radius: 5px;
    background-color: whitesmoke;
    color: black;
    font-size: 1.2rem;
    width: 90%;
    text-align: center;
}

@media (min-width:992px) {
    .title {
        font-size: 1.3rem;
    }

    .count-el {
        font-size: 6rem;
    }

    body {
        background-image: url(./img/railway-2818748.jpg);
    }
}